node_modules

# Output
.output
.vercel
.netlify
.wrangler
/.svelte-kit
/build
.dfx
.zed
.cursor
backend/dist
.kiro
.vscode
__pycache__

# OS
.DS_Store
Thumbs.db

# Env
.env
.env.*
!.env.example
!.env.test
.env.local
.env-backend

# Vite
vite.config.js.timestamp-*
vite.config.ts.timestamp-*
/data/*

# Notes
/z-notes

# GCP credentials

# Ignore uploaded files in backend/uploads

gcp-credentials.json

firestore-migration

# Firebase emulator
.emulator-persisted-data
/firebase-export-*
*.log
