node_modules

# Output
.output
.vercel
.netlify
.wrangler
/.svelte-kit
/build
.dfx
.zed
.cursor

# OS
.DS_Store
Thumbs.db

# Env
.env
.env.*
!.env.example
!.env.test
.env.local
.env-backend

# Vite
vite.config.js.timestamp-*
vite.config.ts.timestamp-*
/data/*

# Notes
Notes-for-me.md
project-structure-prompt.md
project-structure-update.md
project-structure.md
prompomt.md

# GCP credentials

# Ignore uploaded files in backend/uploads
/backend/uploads/*

/backend/gcp-credentials.json
